@{
    ViewBag.Title = "Home Page";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://cdn.hiconsumption.com/wp-content/uploads/2020/07/Best-Summer-Watches-For-Men-FB.jpg" alt="Есенска распродажба" style="width:100%" />
                    <!-- Static Header -->
                    <div class="header-text">
                        <div class="col-md-12 text-center">
                            <h2>
                                <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:dimgray">ЕСЕНСКА РАСПРОДАЖБА</strong>
                            </h2>
                            <h3>
                                <span style="font-weight:600;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Попусти и до 70%</span>
                            </h3>
                            <br />
                            <br />
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="https://www.laurays.com/media/uploads/Homepage/Murphy-Pitard-Shy-Web-Banners-950x470.jpg" alt="Нова колекција" width="100%" />
                    <!-- Static Header -->
                    <div class="header-text">

                        <div class="col-md-12 text-center">
                            <h2>
                                <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:dimgray">НОВА КОЛЕКЦИЈА</strong>
                            </h2>
                            <h3>
                                <span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight:600">100% Aвтеничност. Најдобар избор. Најдобри цени.</span>
                            </h3>
                            <br />
                            <br />


                        </div><!-- /header-text -->
                    </div>
                </div>
                <div class="item">
                    <img src="https://images.creator-prod.zmags.com/image/upload/q_auto,dpr_2.625,f_auto/c_scale,w_300/6026bb96ad04231a85e18fed.png" alt="Online Shopping" style="width:100%" />
                    <!-- Static Header -->
                    <div class="header-text">
                        <div class="col-md-12 text-center">
                            <div class="col-md-12 text-center">
                                <h2>
                                    <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:dimgray">10% попуст на секоја онлајн нарачка</strong>
                                </h2>
                                <h3>
                                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight:600">Регистрирај се и добиј дополнителни 10% попуст на првата нарачка</p>
                                </h3>
                                <br />
                            </div>
                            <a class="btn btn-default" href="/Account/Login">Најави се</a>
                            <a class="btn btn-default" href="/Account/Register">Регистрирај се</a>
                        </div>
                    </div>
                </div><!-- /header-text -->
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div><!-- /carousel -->
</div>
</div>

